@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap");
body {
    font-family: 'Source Code Pro', monospace;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: black;
}
.dark-mode {
    background-color: #2e2e2e;
    color: white;
}
#items {
    margin-top: 15%;
    font-size: 65px;
}
.no {
    margin-top: 73px;
    font-size: 45px;
}

.total {
    margin-top: 73px;
    font-size: 45px;
}
.dark {
    font-size: 25px;
    text-align: center;
}
