@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@900&display=swap");
body {
    font-family: 'Source Code Pro', monospace;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15%;
}
#items {
    font-size: 65px;
}
.no {
    margin-top: 73px;
    font-size: 45px;
}

.total {
    margin-top: 73px;
    font-size: 45px;
}
